.ant-form {
  .ant-form-item {
    .ant-form-item-label {
      label {
        font-size: 18px;
        font-weight: 500;
        color: #333;
      }
    }
  }
}

// Input
.ant-input {
  background-color: rgba(241,243,246,.5) !important;
  border: 1px solid rgba(241,243,246,.5) !important;
  border-radius: 4px !important;
  color: #333 !important;
  &:focus {
    border: 1px solid #4096ff !important;
  }
}

// Textarea
.ant-input-affix-wrapper {
  border: 1px solid rgba(241,243,246,.5) !important;
  border-radius: 4px !important;
  .ant-input {
    background-color: rgba(241,243,246,.5) !important;
    border: none;
    color: #333 !important;
  }
}
